<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Multi Content Template</TITLE>
</head>
<body>

<h1>Multi Content</h1>





<h2>TEMPLATE_COLUMNS:</h2>

<!-- ###TEMPLATE_COLUMNS### begin -->
<div class="subcolumns">
	<!-- ###COLUMNS### -->
	<div ###ATTRIBUTE###>###CONTENT###</div>
	<!-- ###COLUMNS### -->
</div>
<!-- ###TEMPLATE_COLUMNS### end -->





<h2>TEMPLATE_TAB:</h2>

<!-- ###TEMPLATE_TAB### begin -->
<div id="###KEY###">
	<ul>
		<!-- ###TITLES### -->
		<li><a href="####KEY###-###ID###">###TITLE###</a></li>
		<!-- ###TITLES### -->
	</ul>
	<!-- ###COLUMNS### -->
	<div ###ATTRIBUTE### id="###KEY###-###ID###">
		###CONTENT###
	</div>
	<!-- ###COLUMNS### -->
</div>
<!-- ###TEMPLATE_TAB### end -->





<h2>TEMPLATE_ACCORDION:</h2>

<!-- ###TEMPLATE_ACCORDION### begin -->
<div id="###KEY###">
	<!-- ###COLUMNS### -->
	<h3><a href="####KEY###-###ID###">###TITLE###</a></h3>
	<div ###ATTRIBUTE###>
		###CONTENT###
	</div>
	<!-- ###COLUMNS### -->
</div>
<!-- ###TEMPLATE_ACCORDION### end -->





<h2>TEMPLATE_SLIDER:</h2>

<!-- ###TEMPLATE_SLIDER### begin -->
<div id="###KEY###" class="anythingSlider">
	<div class="wrapper">
		<ul>
			<!-- ###COLUMNS### -->
			<li ###ATTRIBUTE###>
				###CONTENT###
			</li>
			<!-- ###COLUMNS### -->
		</ul>
	</div>
</div>
<!-- ###TEMPLATE_SLIDER### end -->





<h2>TEMPLATE_SLIDEDECK:</h2>

<!-- ###TEMPLATE_SLIDEDECK### begin -->
<div class="skin-slidedeck">
	<dl id="###KEY###" class="slidedeck">
		<!-- ###COLUMNS### -->
		<dt>###TITLE###</dt>
		<dd>###CONTENT###</dd>
		<!-- ###COLUMNS### -->
	</dl>
</div>
<!-- ###TEMPLATE_SLIDEDECK### end -->





</body>
</html>

